services:
  - type: web
    name: robusta-monitor
    env: python
    buildCommand: "pip install -r requirements.txt"
    startCommand: "gunicorn monitor:app --timeout 120 --workers 1 --worker-class sync"
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0

  - type: cron
    name: robusta-monitor-cron
    env: python
    schedule: "*/10 * * * *"
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python -c \"from monitor import monitor_all_commodities; monitor_all_commodities()\""
